<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>Document</title>
  </head>
  <body>
    <h2>회원가입</h2>
    <form method="post">
      {% csrf_token %}
      <p>
        <label for="{{ form.username.id_for_label }}">아이디:</label>
        {{ form.username }} {% if form.username.errors %}
        <span class="error">{{ form.username.errors }}</span>
        {% endif %}
      </p>
      <p>
        <label for="{{ form.password1.id_for_label }}">비밀번호:</label>
        {{ form.password1 }} {% if form.password1.errors %}
        <span class="error">{{ form.password1.errors }}</span>
        {% endif %}
      </p>
      <p>
        <label for="{{ form.password2.id_for_label }}">비밀번호 확인:</label>
        {{ form.password2 }} {% if form.password2.errors %}
        <span class="error">{{ form.password2.errors }}</span>
        {% endif %}
      </p>
      <p>
        <label for="{{ form.first_name.id_for_label }}">이름:</label>
        {{ form.first_name }} {% if form.first_name.errors %}
        <span class="error">{{ form.first_name.errors }}</span>
        {% endif %}
      </p>
      <p>
        <label for="{{ form.phone_number.id_for_label }}">전화번호:</label>
        {{ form.phone_number }} {% if form.phone_number.errors %}
        <span class="error">{{ form.phone_number.errors }}</span>
        {% endif %}
      </p>
      <p>
        <label for="{{ form.email.id_for_label }}">이메일 주소:</label>
        {{ form.email }} {% if form.email.errors %}
        <span class="error">{{ form.email.errors }}</span>
        {% endif %}
      </p>
      <p>
        <label for="{{ form.birth_date.id_for_label }}">생년월일:</label>
        {{ form.birth_date }} {% if form.birth_date.errors %}
        <span class="error">{{ form.birth_date.errors }}</span>
        {% endif %}
      </p>
      <button type="submit">가입하기</button>
      <a href="{% url 'login' %}">가입 취소</a>
    </form>
  </body>
</html>
