.community-container {
  width: 60%; 
  margin: 0 auto;
  box-sizing: border-box;
}

.posts {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post {
  margin: 1em 0;
  padding: 1em;
  box-sizing: border-box;
} 

.post-info-container {
  display: flex;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-info {
  display: flex;
  flex-direction: column;
}

.author {
  font-size: 24px;
  font-weight: bold;
  line-height: 26px;
}

.post-time {
  font-size: 16px;
  color: rgba(103, 103, 103, 1);
}

.post-content {
  text-align: left;
  display: block;
  font-size: 18px;
}

.post-image {
  width: 100%;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}

/*異붽�*/
.post-actions {
  margin-top: 0.5em;
}

.post-actions a{
  text-decoration: none;
  color: black;
}

.post-actions img {
  width: 24px;
  height: 24px;
  margin-right: 0.5em;
}

.post-actions span {
  margin-right: 2em;
}

.comment-section {
  margin: 1em;
}

.comment-section h1 {
  font-size: 24px;
  font-weight: bold;
}

.comment-box {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 1em;
  margin-top: 1em;
}

.comment-info {
  display: flex;
  flex-direction: column;
}

.comment-info .author {
  font-weight: bold;
}

.comment-info .comment-time {
  font-size: 14px;
  color: rgba(103, 103, 103, 1);
}

.comment-content {
  margin-top: 0.5em;
}

/* django 연동 후*/
.like-section {
  display: flex;
  align-items: center;
  margin-right: 5em;
}

.like-btn {
  background-color: #5a976b;
  color: #fff;
  border:none; 
  border-radius: 10px; 
  padding: 10px;
}

.like-section span {
  font-size: 20px;
  font-weight: bold;
  margin-left: 0.8em;
  align-items: center;
}

.comment-section form {
  display: flex;
  flex-direction: column;
}

.comment-box {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  box-sizing: border-box;
  margin-bottom: 10px; /* 댓글 박스 간의 간격 */
}

.comment-btn {
  background-color: #5a976b;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  align-self: flex-end; /* 버튼을 오른쪽으로 정렬 */
  margin-bottom: 5em;
}

.comment-info > span {
  font-size: 20px;
}

ul {
  list-style-type: none; 
  padding: 0; 
}

/*모달창 추가*/
.options-box {
  display: none;
  position: absolute;
  padding: 10px;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.options-box .option {
  display: flex;
  align-items: center;
  padding: 0.5em 3em 0.5em 1em;
  font-weight: bold;
}

.options-box .option img {
  margin-right: 10px;
}

.delete-text {
  color: rgba(195, 28, 36, 1);
}

/* 紐⑤떖 �ㅽ��� */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  text-align: center;
  border-radius: 10px;
}

.delete-confirm {
  background-color: rgba(195, 28, 36, 1);
  color: rgb(237, 237, 237);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.delete-cancel {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}