{% load static %} {% include 'green/header.html' %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GreenShield</title>
    <link rel="stylesheet" href="{% static 'css/community_detail.css' %}" />
  </head>
  <body>
    <div class="community-container">
      <div class="posts">
        <section class="post" data-category="{{ post.category }}" onclick="goToDetailPage(this)">
          <div class="post-header">
            <div class="post-info-container">
              <div class="post-info">
                <span class="author">{{ post.author.username }}</span>
                <span class="post-time">{{ post.created_at }}</span>
              </div>
            </div>
          </div>
          <p class="post-content">{{ post.content }}</p>
          {% if post.image %}
          <img
            src="{{ post.image.url }}"
            alt="{{ post.category }}"
            width="500"
            class="post-image"
          />
          {% endif %} {% if post.video %}
          <video width="500" controls>
            <source src="{{ post.video.url }}" type="video/mp4" />
          </video>
          {% endif %} {% if user.is_authenticated %}
          <div class="post-actions">
            {% if user == post.author %}
            <!-- <a href="{% url 'green:community_update' post.id %}">수정하기</a>
            <a href="{% url 'green:community_delete' post.id %}">삭제하기</a> -->
            {% endif %}
            <div class="like-section">
              <form action="{% url 'green:like_post' post.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="like-btn">
                  {% if user in post.likes.all %}좋아요 취소{% else %} 좋아요 {% endif %}
                </button>
              </form>
              <span id="like-count">{{ post.get_likes_count }}</span>
            </div>
          </div>
          {% endif %}
        </section>

        <div class="comment-section">
          <h1>댓글</h1>
          {% if comments %}
          <ul>
            {% for comment in comments %}
            <li>
              <div class="comment-box">
                <div class="comment-profile">
                  <div class="comment-info">
                    <span class="author">{{ comment.author.username }}</span>
                    <span class="comment-time">{{ comment.created_at }}</span>
                  </div>
                </div>
                <p class="comment-content">{{ comment.content }}</p>
              </div>
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <p>댓글이 없습니다.</p>
          {% endif %} {% if user.is_authenticated %}
          <form method="POST">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" class="comment-btn">댓글 등록</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>