<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {{ user.username }}
    <a href="{% url 'green:mypage' %}">마이페이지</a>
    <a href="{% url 'logout' %}">로그아웃</a>
    <hr />
    <h2>게시물 수정</h2>
    <form
      method="post"
      action="{% url 'green:community_update' post.id %}"
      enctype="multipart/form-data"
    >
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">수정 완료</button>
      <a href="{% url 'green:community_detail' post.id %}">취소</a>
    </form>
  </body>
</html>