<body>
    <h2>Green Shield</h2>
    {{ user.username }}
    <a href="{% url 'green:mypage' %}">마이페이지</a>
    <a href="{% url 'accounts:logout' %}">로그아웃</a>
    <br />
    <hr />
    <br />
    <a href="{% url 'green:test' %}">환경 호르몬 노출 평가</a>
    <a href="{% url 'green:list' %}">맞춤형 플래너</a>
    <a href="{% url 'green:community' %}">커뮤니티</a>
    <a href="{% url 'green:market' %}">상품 추천</a>
    <a href="{% url 'green:expert' %}">상담 예약 서비스</a>
    <br />
    <br />
    <hr />
    <h1>최근 3회 평가 분석</h1>        
        {% for latest_answer in latest_answers %}
            {{ latest_answer.score }}<br>
        {% endfor %}
        <hr>
        {% for second_answer in second_answers %}
            {{ second_answer.score }}<br>
        {% endfor %}
        <hr>
        {% for third_answer in third_answers %}
            {{ third_answer.score }}<br>
        {% endfor %}
</body>