<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>내가 좋아요한 글</title>
    <!-- reset css입니다. 우선순위 문제로 개별 페이지 css는 아래쪽에 배치해주세요.(아래쪽이 더 높은 우선순위) -->
    <link rel="stylesheet" href="{% static './css/resetCSS.css' %} " />
    <link rel="stylesheet" href="{% static './css/header.css' %} " />
    <link rel="stylesheet" href="{% static './css/like_article.css' %}" />
  </head>

  <body>
    {% include 'green/header.html' %}

    <!--like_article page 시작-->
    <div class="title_all">
      <div class="top_wri_and_back">
        <div class="written_article">
          <div class="written_article_text">내가 좋아요한 글</div>
        </div>

        <div class="back_mypage_box">
          <div class="back_mypage_text"><a href="{% url 'green:mypage' %}">마이페이지로 돌아가기</a></div>
        </div>
      </div>
    </div>

    <div class="article_all">
      {% if posts %} {% for post in posts %}
      <a href="{% url 'green:community_detail' post.id %}">
        <div class="article_set1">
          <div class="article_pro_box">
            <div class="article_profile">
              <img src="{% static './img/AnonymousProfile_60x60.png' %}" width="80" height="80" />
            </div>

            <div class="article_box">
              <div class="name">{{ post.author }}</div>
              <div class="date">{{ post.created_at }}</div>
              <div class="text">{{ post.content }}</div>
              <div class="article_post_picture">
                {% if post.image %}
                <img src="{{ post.image.url }}" width="400" height="180" />
                {% endif %} {% if post.video %}
                <video src="{{ post.video.url }}" type="video/mp4" width="400" height="180" controls></video>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </a>
      {% endfor %} {% else %}
      <div class="no_posts_message_box">
        <div class="no_posts_message">좋아요한 글이 없습니다.</div>
      </div>

      {% endif %}

      <!-- 
      <div class="article_set1">
        <div class="article_pro_box">
          <div class="article_profile">
            <img src="{% static './img/AnonymousProfile_60x60.png' %}" width="80" height="80" />
          </div>

          <div class="article_box">
            <div class="name">Ethan</div>
            <div class="date">July 15, 2024, 13:25 a.m.</div>
            <div class="text">
              안녕하세요, 요즘 헬스장에 못 가는 날이 많아 집에서 사용할 수 있는 운동 기구를 찾고 있어요. 효과적인 홈트레이닝 기구 추천해주실 수 있나요?
            </div>
            <div class="article_post_picture">
              <img src="{% static './img/like2.png' %}" width="400" height="180" />
            </div>
          </div>
        </div>
      </div>
      -->
    </div>
  </body>
</html>
