<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {{ user.username }}
    <a href="{% url 'green:mypage' %}">마이페이지</a>
    <a href="{% url 'logout' %}">로그아웃</a>
    <hr />
    <h2>내가 좋아요한 글</h2>
    <ul>
      {% for post in posts %}
      <li>
        <a href="{% url 'green:community_detail' post.id %}">
          <p>{{ post.author }}</p>
          <p>{{ post.content }}</p>
          <p>{{ post.created_at }}</p>
          {% if post.image %}
          <img src="{{ post.image.url }}" width="300" />
          {% endif %} {% if post.video %}
          <video
            src="{{ post.video.url }}"
            type="video/mp4"
            width="300"
            controls
          ></video>
          {% endif %}
        </a>
      </li>
      {% empty %}
      <p>작성한 글이 없습니다.</p>
      {% endfor %}
    </ul>
    <hr />
    <a href="{% url 'green:mypage' %}">마이페이지로 돌아가기</a>
  </body>
</html>
