<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Green Shield</h2>
    {{ user.username }}
    <a href="{% url 'green:mypage' %}">마이페이지</a>
    <a href="{% url 'accounts:logout' %}">로그아웃</a>
    <br />
    <hr />
    <br />
    <a href="{% url 'green:test' %}">환경 호르몬 노출 평가</a>
    <a href="{% url 'green:list' %}">맞춤형 플래너</a>
    <a href="{% url 'green:community' %}">커뮤니티</a>
    <a href="{% url 'green:market' %}">추천 상품</a>
    <a href="{% url 'green:expert' %}">전문가 상담/예약</a>
    <br />
    <br />
    <a href="{% url 'green:test' %}">테스트 하러 가기</a>
    <br />
    <br />
    <hr />
    <h2>오늘의 추천 상품</h2>
    <br />
    <br />
    <hr />
    <h2>오늘의 환경 호르몬 정보</h2>
    <br />
    <br />
    <hr />
    <h2>쇼핑몰 바로 가기</h2>
    <a href="{% url 'green:external_redirect_ptech' %}">피테크</a>
    <a href="{% url 'green:external_redirect_heymoon' %}">헤이문</a>
    <a href="{% url 'green:external_redirect_jiguhara' %}">지구하라</a>
  </body>
</html>