{% load static %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GreenShield</title>
    <link rel="stylesheet" href="{% static 'css/premium_complete_error.css' %}" />
  </head>
  <body>
    <div class="container">
      <h2>유료 회원 가입이 완료되었습니다!</h2>
      <p>
        <span class="highlight">전문가 상담/예약 서비스</span>와
        <span class="highlight">데이터 트레킹 서비스</span>가 지원됩니다.
      </p>
      <a href="{% url 'green:main' %}">홈으로 돌아가기</a>
    </div>
  </body>
</html>
