<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Green Shield</h2>
    {{ user.username }}
    <a href="{% url 'green:mypage' %}">마이페이지</a>
    <a href="{% url 'logout' %}">로그아웃</a>
    <hr />
    <br />
    <a href="{% url 'green:test' %}">환경 호르몬 노출 평가</a>
    <a href="{% url 'green:list' %}">맞춤형 플래너</a>
    <a href="{% url 'green:community' %}">커뮤니티</a>
    <a href="{% url 'green:market' %}">추천 상품</a>
    <a href="{% url 'green:expert' %}">전문가 상담/예약</a>
    <hr />
    <form method="post" action="{% url 'green:reserve' expert.id %}">
      {% csrf_token %}
      <img src="{{ expert.photo.url }}" alt="{{ expert.name }}" width="400" />
      <p>{{ expert.name }}</p>
      <p>{{ expert.location }}</p>
      <p>{{ expert.description }}</p>
      <label for="date"></label>
      <input type="date" id="date" name="date" required />
      <label for="time"></label>
      <select id="time" name="time" required>
        <option value="08:00">08:00 AM</option>
        <option value="09:00">09:00 AM</option>
        <option value="10:00">10:00 AM</option>
        <option value="11:00">11:00 AM</option>
        <option value="12:00">12:00 PM</option>
        <option value="13:00">01:00 PM</option>
        <option value="14:00">02:00 PM</option>
        <option value="15:00">03:00 PM</option>
        <option value="16:00">04:00 PM</option>
      </select>
      <p>
        <button type="submit">예약</button>
        <a href="{% url 'green:expert' %}">취소</a>
      </p>
    </form>
    <hr />
  </body>
</html>
