<body>
    <h2>Green Shield</h2>
    {{ user.username }}
    <a href="{% url 'green:mypage' %}">마이페이지</a>
    <a href="{% url 'accounts:logout' %}">로그아웃</a>
    <br />
    <hr />
    <br />
    <a href="{% url 'green:test' %}">환경 호르몬 노출 평가</a>
    <a href="{% url 'green:list' %}">맞춤형 플래너</a>
    <a href="{% url 'green:community' %}">커뮤니티</a>
    <a href="{% url 'green:market' %}">상품 추천</a>
    <a href="{% url 'green:expert' %}">상담 예약 서비스</a>
    <br />
    <br />
    <hr />
    <h1>환경 호르몬 노출 평가</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }} <!-- 뎁툴 확인 필요 -->
        <button type="submit">제출</button>
    </form>
</body>